.message{
  display:flex;
  align-items:top;
  padding:20px;
}

.message > img {
   height:50px;
   width:50px;
   object-fit: contain;
   border-radius: 50%;
}

.message__timestamp{
  color:gray;
  font-weight: 300;
  font-size:13px;
}

.message__info{
  margin-left:10px;
}

.message__info > h4{
  margin-bottom:6px;
}